section.dashboard {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;

    /* filter: drop-shadow(-60px 0px 60px rgba(0, 0, 0, 0.5)); */
}

section.dashboard .content {
    display: flex;
    flex-direction: column;

    background: var(--main-bg-color);
}

@media screen and (max-width: 1300px) {
    section.dashboard .content {
        width: 100vw;
        min-height: 100vh;
        height: 100%;
    }
}

@media screen and (min-width: 1300px) {
    section.dashboard .content {
        width: 67vw;
        min-height: 100vh;
        height: 100%;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    }
}

section.dashboard .content h1 {
    margin: 20px;

    color: var(--main-text-color);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 44px;
    letter-spacing: -0.03em;
}

section.dashboard .content .list-establishments-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.dashboard .content .list-establishments-container .loading-indicator {
    width: calc(100% - 40px);
    max-width: 540px;
    min-height: 150px;
    margin: 20px;
}

section.dashboard .content .establishment-container {
    width: calc(100% - 40px);
    max-width: 540px;
    min-height: 150px;
    margin: 20px;

    display: grid;
    grid-template-columns: 1fr 2fr;

    cursor: pointer;
    background: var(--input-bg-color);
    border-radius: 10px;
}

section.dashboard .content .establishment-container .image-container {
    display: flex;
    border: none;
    min-height: 150px;
    padding: 0;
}

section.dashboard .content .establishment-container .image-container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-width: 0;
    border-radius: 9px 0 0 9px;
}

section.dashboard .content .establishment-container .info-container {
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 12px
}

section.dashboard .content .establishment-container .info-container span.title {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
}

section.dashboard .content .establishment-container .info-container p.description {
    min-height: 60px;
    margin-top: 8px;
    margin-bottom: 35px;


    color: var(--input-text-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.03em;
}

section.dashboard .content .establishment-container .info-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 32px;
    position: absolute;
    right: 10px;
    bottom: 10px;

    cursor: pointer;
    background: transparent;
    border: 3px solid var(--main-color);
    border-radius: 9px;

    color: var(--main-text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.03em;

    transition-duration: 200ms;
}

section.dashboard .content .establishment-container .info-container button:hover {
    background: var(--main-color);

    transition-duration: 200ms;
}

section.dashboard .content .new-establishment {
    width: 100%;

    display: flex;
    justify-content: center;
}

section.dashboard .content .new-establishment button {
    width: 100%;
    max-width: 540px;
    margin: 20px;
    height: 150px;

    cursor: pointer;
    background: transparent;
    border: 3px dashed #F6A821;
    border-radius: 10px;
}

section.dashboard .content .new-establishment button p {
    margin-bottom: 15px;

    color: var(--main-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
}

/* Change the SkeletonLoader animation colors and speed */

.styles_skeleton__2Mj1U::before {
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0),
            rgba(201, 201, 201, 0.10),
            rgba(255, 255, 255, 0)) !important;
    animation: styles_skeleton-progress__o4fxe 1s ease-in-out infinite !important;
}