section.home {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: row-reverse;

    /* filter: drop-shadow(-60px 0px 60px rgba(0, 0, 0, 0.5)); */
}

section.home .content {
    display: flex;
    flex-direction: column;
    min-height: 200vh;

    background: var(--main-bg-color);
}

@media screen and (max-width: 1300px) {
    section.home .content {
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (min-width: 1300px) {
    section.home .content {
        width: 67vw;
        height: 100vh;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
    }
}

section.home .content h1 {
    color: var(--main-text-color);
    font-size: 2rem;
    text-align: center;

    margin: 15vh 25px;
    margin-bottom: 0;
}

section.home .content h2 {
    color: var(--input-text-color);
    font-size: 1.2rem;
    text-align: center;

    margin: 2vh 10px;
    margin-bottom: 20vh;
}

section.home .content h1 span,
section.home .content h2 span {
    cursor: pointer;

    transition: ease-in-out 200ms;
}

section.home .content h1 span:hover,
section.home .content h2 span:hover {
    color: var(--main-color);

    transition: ease-in-out 200ms;
}

.light {
    font-weight: 500;
}