@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #292929;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 500px) {
    section {
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (min-width: 500px) {
    section {
        max-height: 670px;
        min-height: 550px;
        width: 500px;
        border-radius: 16px;
    }
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: center;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.input-container,
.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 400px;
    height: 50px;
    padding: 0 25px;
    color: #C9C9C9;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    margin-bottom: 25px;
    background: #484848;
    border-radius: 10px;
    border-width: 0;
    transition-duration: 200ms;
}

input:focus {
    border: 3px solid #E89C29;
    box-sizing: border-box;
    padding: 0 22px;
    transition-duration: 200ms
}

.pass-err, .pass-err:focus {
    border: 3px solid rgb(232, 41, 41);
    box-sizing: border-box;
    padding: 0 22px;
    transition-duration: 200ms
}

.google-login {
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
    background: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17.0935px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.75);
    padding: 0 18px;
    border: 3px solid #fff9;
    border-radius: 9px;
}

.google-svg {
    margin-right: 24px;
}

.submit-container button {
    width: 400px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    border: 3px solid #E89C29;
    border-radius: 9px;
    transition-duration: 200ms
}

.submit-container button:hover {
    background: #484848;
    transition-duration: 200ms
}